@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0d0e;
  --foreground: #f8fafc;
}

body {
  background-color: #050505;
  color: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

input, textarea {
  user-select: text;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #26292d;
  border-radius: 4px;
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0.75rem);
}
